body {
	margin: 0 0 1em 0;
	padding: 0;
	color: black;
	background-color: #eee;
	line-height: 130%;
	font-family: arial, helvetica, verdana, tahoma, sans-serif;
	text-align: center;
}

#wrapper-header {	background: #222; }

#header {
	background: #222 url('images/banner.jpg') right no-repeat;
	width: 85%;
	height: 125px;
	line-height: 125px;
	margin: 0 auto;
	border-left: 1px solid #707070;
	border-right: 1px solid #707070;
	text-align: left;
}

#header h1 {
	margin: 0;
	padding: 0;
	color: #eee;
	font-size: 220%;
	padding-left: 10px;
	letter-spacing: -1px;
}

#wrapper-menu {
	background: #88ac0b url('images/menu-background.png') top left repeat-x;
	float: left;
	width: 100%;
}

#menu {
	width: 85%;
	margin: 0 auto;
	font-size: 95%;
	white-space: nowrap; /* stops half a menu link dropping to next line. Instead, the whole link will drop. This only happens if you have a lot of menu links, and large text size */
	padding-right: 2px;	/* The menu far left, and far right borders are not quite lining up in non IE browsers for some reason. This makes it less noticable */
}

* html #menu { padding-right: 0; } /* See above comment. This re-adjusts IE to the above padding */

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	border-left: 1px solid #95bc0e;
	border-right: 1px solid #95bf0f;
	width: 100%;
}

#menu li { display: inline; }

#menu a:link, #menu a:visited {
	padding: 0.25em 1em;
	background: transparent;
	color: #fff;
	text-decoration: none;
	float: left;
	border-right: 1px solid #95bc0e;
}

#menu a:hover {
	background: #b6e41c url('images/menu-hover.png') repeat-x;
	color: #485b06;
}

#content {
	width: 83%; /* 93% because it has 1% padding on each side, which brings it to 95% wide */
	margin: 0 auto;
	padding: 3.5em 1% 20px 1%;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	background: white;
	font-size: 90%;
	text-align: left;
}

* html #content { padding-top: 1.8em; } /* Set padding top in IE to 20px */

#footer {
	margin: 0 auto;
	padding: 2px 1%;
	width: 83%;
	text-align: right;
	color: white;
	letter-spacing: 0.15em;
	background: #88ac0b url('images/menu-background.png') top left repeat-x;
	border: 1px solid #a0c80e;
	font-size: 80%;
}

h2 {
	color: #666;
	padding-bottom: 3px;
	border-bottom: 1px solid #a0c80e;
	font-size: 150%;
	letter-spacing: -1px;
}

a:link, a:visited {
	color: #260;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

p { margin-left: 1em; }

.metainfo {
    float: left;
    width: 152px;
    padding-left: 25px;
    font-size: 12px;
    
}

.content {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 177px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.content h1 a:hover, .content h2 a:hover, .content h3 a:hover {
background-color:#33AA00;
color:#FFFFFF;
text-decoration:none;
}
.content a {
font-weight:normal;
}
.content p, .content ul, .content ol, .content pre {
margin-right:5em;
}
.content p {
line-height:18px;
}
.content blockquote {
background-color:#F0F0F0;
border-left:2px solid #CCCCCC;
margin-left:0pt;
padding:1em 2em;
}
.content img, .content object {
max-width:600px;
}


.post {
margin-top: 1em;
margin-bottom: 1em;
text-align:left;
min-height:150px;
}


.highlight {
  background-image: url(/images/green-gradient.jpg);
  background-repeat: repeat-x;
  background-position: 0 0;
  background-attachment: scroll;
  border-width: 0.75px;
  border-color: #309030;
  border-style: solid;
}