<div id="logo" class="grid_11">
	<h1>Planet Chumbo</h1>
</div>

<div id="navigation" class="grid_5">
<small>
	<a href="/">Home</a> &middot; 
	<%= link_to "Cerrar sesión", '/logout' %>
</small>
</div>

<div class="clear">&nbsp;</div>
