<div id="nicemenu" class="grid_16">
	<ul>
		<li>
			<span class="head_menu"><a href="/admin/feeds">Fuentes</a></span>
		</li>

		<li>
			<span class="head_menu"><a href="/admin/feed_posts">Historias</a>
		</li>
		
		<li><span class="head_menu"><a href="/account">Administración</a>
			<img src="/images/admin/arrow.png" width="18" height="15" align="top" class="arrow" />
			</span>
			<div class="sub_menu">
				<%= link_to 'Preferencias aplicación', edit_admin_planet_url(Planet.find(:first)) %>
				<%= link_to 'Cuenta de usuario', edit_admin_user_url(current_user) %>
			</div>
		</li>
	</ul>
</div>

<div class="clear">&nbsp;</div>	