<div id="nicemenu" class="grid_16">
	<ul>
		<li>
			<span class="head_menu"><a href="/admin/feeds">Fuentes</a></span>
		</li>

		<li>
			<span class="head_menu"><a href="/shoes">Historias</a>
		</li>
		
		<li><span class="head_menu"><a href="/account">Administración</a>
			<img src="/images/admin/arrow.png" width="18" height="15" align="top" class="arrow" />
			</span>
			<div class="sub_menu">
				<a href="/settings">Preferencias aplicación</a>
				<a href="/userinfo">Cuenta</a>
			</div>
		</li>
	</ul>
</div>

<div class="clear">&nbsp;</div>	